<div>
  <a class="innerPageLink" ui-sref="wordlists">Back to Spelling Lists</a>
</div>
<p class="innerPageTitle">Spelling Words</p>
<div>
  <p class="listTitleText">{{indList.title}} (created by: {{indList.listCreator}})</p>
</div>
<div class="authForm" ng-show="showNewWordForm">
  <form name="newWordForm">
    <input class="allInput" type="text" ng-model="newWord" placeholder="Enter a new word..." required/>
    <button ng-disabled="newWordForm.$invalid" ng-click="addToList(newWord)">Add to list</button>
  </form>
</div>

<div class="wordListDiv">
  <ol class="vocabWords" ng-show="showWordList">
    <li ng-repeat="spellingWord in spellingWords">
      <div ng-show="listedWords">{{spellingWord.word}}</div>
      <div>
        <tts-directive ng-show="ttsButton"></tts-directive>
        <edit-word-directive></edit-word-directive>
      </div>
      <br>
    </li>
  </ol>
</div>

<div>
  <test-directive></test-directive>
</div>
