<div>
  <h1 class="authTitle">Login</h1>
</div>
<p class="errorTxt">{{error}}</p>
<form class="authForm" ng-submit="login()">
  <div>
    Email: <input class="allInput" type="email" ng-model="user.email" placeholder="Email"/>&nbsp&nbsp&nbsp
    Password: <input class="allInput" type="password" ng-model="user.password" placeholder="Password"/>
    <button class="authButton" type="submit">Login</button>
  </div>
</form>
<div class="authRedirect">
  <p>Don't have an account?</p>
  <p>Signup here: <button class="authButton" ui-sref="register">Register</button></p>
</div>
