<div>
  <a ui-sref='logout'>Logout</a>
  <p>Spelling Test Vocabulary Lists</p>
  <form name='addWordListForm'>
      <input type="text" ng-model="newListTitle" placeholder="Enter new list name..." required/>
        created by:
      <input type="text" ng-model="listCreator" placeholder="List creator name...">
      <button class="button" ng-disabled="addWordListForm.$invalid" ng-click="createList(listCreator, newListTitle)">Add Word List</button>
  </form>

  <ol>
    <li ng-repeat="wordlist in wordlists">
      <a ng-show="wordListDisplay" ng-href="#/wordlists/{{wordlist.$id}}">
        <span>{{wordlist.title}}</span>
        <span>(created by {{wordlist.listCreator}})</span>
      </a>
      <edit-word-list-directive></edit-word-list-directive>
    </li>
  </ol>
</div>
